<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!--Connection bootstrap.-->
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--Connection ajax.-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<!--Connection css.-->
<link rel="stylesheet" href="{% static 'css/first.css' %}"/>
<!--Connection google charts.-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script>




    {% block jquery %}
        var endpoint = 'chart/date';
        var labels=[];
        var DefaultDate=[];
        var EUR;
        var USD;
        var Number;
        <!--Receive data from the controller.-->
        $.ajax(
            {
                method:"GET",
                url:endpoint,
                success:function (date) {
                    labels=date.name_country;
                    EUR=date.EUR;
                    USD=date.USD;
                    console.log(USD);
                    console.log(EUR);
                    DefaultDate=date.value;

                    var ctx1 = document.getElementById('myChart1').getContext('2d');
                        var myChart = new Chart(ctx1, {
                            type: 'bar',
                            data: {
                                labels: labels,
                                datasets: [{
                                    label: '# value currency',
                                    data: DefaultDate,

                                }]
                            }
                        })

                    },
                    error:function (error_date) {
                        console.log("error");
                        console.log(error_date)
                    }
                }
            );
        <!--Chart Generation.-->
        function valueof(s) {
            console.log(s);
            var ctx2 = document.getElementById('myChart2').getContext('2d');
                var myChart3 = new Chart(ctx2, {
                    type: 'line',
                    data: {
                        labels: [1,2,3,4,5,6,7,8,9,10,11,12],
                        datasets: [{
                            label: '# month',
                            data: EUR[s],
                            backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                ],
                            borderColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                });
                var ctx3 = document.getElementById('myChart3').getContext('2d');
                    var myChart1 = new Chart(ctx3, {
                        type: 'line',
                        data: {
                            labels: [1,2,3,4,5,6,7,8,9,10,11,12],
                            datasets: [{
                                label: '# month',
                                data: USD[s],
                                    backgroundColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderColor: [
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)'
                                    ],
                                    borderWidth: 1
                            }]
                        },
                        options: {
                            scales: {
                                yAxes: [{
                                    ticks: {
                                        beginAtZero: true
                                    }
                                }]
                            }
                        }
                    });
        }
        {% endblock %}
    </script>
    <meta charset="UTF-8">
    <title>Charts</title>
</head>
<body>
<h5>Официальный курс белорусского рубля по отношению к иностранным валютам, устанавливаемый Национальным
    банком Республики Беларусь ежедневно и годовые изменения валюты(EUR и USD)</h5>
<div class="intro">
    <div class="row">
  <div class=" col-lg-4"><canvas id="myChart1" width="50" height="50"></canvas></div>
    <div class=" col-lg-3">EUR<canvas id="myChart2" width="200" height="250"></canvas></div>
    <div class=" col-lg-3">USD<canvas id="myChart3" width="200" height="250"></canvas></div>
</div>
<div class="row btn__item " >
    <input type="button" class="button table-dark" onclick="valueof('2019')" value="2019">
    <input type="button" class="button table-dark" onclick="valueof('2018')" value="2018">
    <input type="button" class="button table-dark" onclick="valueof('2017')" value="2017">
        <input type="button"class="button table-dark" onclick="valueof('2016')" value="2016">
    <input type="button" class="button table-dark" onclick="valueof('2015')" value="2015">
    <input type="button" class="button table-dark" onclick="valueof('2014')" value="2014">
        <input type="button" class="button table-dark" onclick="valueof('2013')" value="2013">
    <input type="button" class="button table-dark" onclick="valueof('2012')" value="2012">
    <input type="button" class="button  table-dark" onclick="valueof('2011')" value="2011">

</div>
</div>

</body>
</html>

